<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Product</h1>
<p><a th:href="@{product-list}">Back to list</a></p>
<p th:if="${mess}">
    <span th:text="${mess}"></span>
</p>
<form action="/product-create" method="post" th:object="${product}">
    <table border="1">
        <tr>
            <td>Code:</td>
            <td><input type="text" th:field="*{code}">
                <a th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></a>
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}">
                <a th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></a>
            </td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}">
                <a th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></a>
            </td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}">
                <a th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></a>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}">
                <a th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></a>
            </td>
        </tr>
        <tr>
            <td>Discount:</td>
            <td><input type="text" th:field="*{discount}">
                <a th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"></a>
            </td>
        </tr>
        <tr>
            <td>Color:</td>
            <td><input type="text" th:field="*{color}">
                <a th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></a>
            </td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><input type="text" th:field="*{status}">
                <a th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></a>
            </td>
        </tr>
        <tr>
            <td>Distributor:</td>
            <td><input type="text" th:field="*{distributor}">
                <a th:if="${#fields.hasErrors('distributor')}" th:errors="*{distributor}"></a>
            </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${categorys}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Product"></td>
        </tr>
    </table>
</form>
</body>
</html>